/* =Lesbians
----------------------------------------------- */

/*--------------------------------------------------------------
## Bootstrapification
--------------------------------------------------------------*/

/* If using Jumbotron */
.archive-subheader .jumbotron {
  background: $lwtv-pink;
  background-size: contain;
  color: $white;
  @include font-18;
  margin-bottom: 0;
  padding: 3rem 2rem;
}

/*--------------------------------------------------------------
## Shows
--------------------------------------------------------------*/
h3.post-title.excerpt {
    clear: none;
    margin-top: 0;
}
.show-header-svg {
	float: right;
}
.shows-extras {
    margin: 0 0 16px;
}
.shows-extras:after {
    clear: both;
    content: " ";
    display: table;
}
.shows-extras h2 {
    margin: 30px 0 20px 0;
    padding-bottom: 20px;
    text-transform: uppercase;
}

/* Trigger Warning */
.callout svg {
    width: 36px;
    height: 36px;
    float: left;
    margin: 10px;
}
.callout-danger svg * {
	fill: $red;
}
.callout-info svg *,
.callout-warning svg * {
	fill: $lwtv-yellow;
}

/* ratings icons */
.ratings-icons {
    text-align: center;
    padding: 5px;
}

/* Show Sidebar - Network Info */
aside li.network {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border: none;
}
aside ul.networks-data {
	list-style: none;
}

/* Entry Meta */

.entry-meta {
    color: $darkgrey;
    @include font-13;

    a {
    	color: $darkgrey!important;

        &:hover {
            color: $lwtv-pink!important;
        }
    }
}


.content .entry-meta .entry-comments-link {
	display: none;
}

ul.entry-meta {
	list-style-type: none;
	padding-bottom: 1em;
}

/* Show Tropes - Sidebar */
aside ul.tropes-list {
    list-style: none;
}
aside li.show.trope {
    border: none;
}
.show.trope svg {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 10px;
}
.show.trope a {
	text-decoration: none;
}
.show.trope a.trope-link {
    text-decoration: underline;
}

/* Table of Contents */
section#toc li:nth-child(n+2):before {
    content: " / ";
}
section#toc li {
    border: none;
    padding: 0px;
    margin: 0px;
    display: inline;
}

/* Characters */
.card-meta-item.cliches svg,
.card-meta-item.actors svg {
	height: 15px;
	width: 15px;
	vertical-align: middle;
}

/*--------------------------------------------------------------
## Characters
--------------------------------------------------------------*/
img.attachment-character-img.size-character-img.wp-post-image {
	float: left;
	padding: 10px;
}
.single-post_type_characters .entry-content ul > li {
    list-style-type: none;
}
.character-cliche svg {
	height: 15px;
	width: 15px;
	vertical-align: middle;
}

/*--------------------------------------------------------------
## Headers
--------------------------------------------------------------*/
h1 svg *,
h3 svg * {
    fill: $white;
}

/*--------------------------------------------------------------
## Shortcodes
--------------------------------------------------------------*/
span.svg-shortcode svg {
    width: 50px;
    height: 50px;
    margin: 0 5px 0 5px;
}
span.svg-shortcode a {
    text-decoration: none;
}
span.svg-shortcode a svg {
	fill: $lwtv-pink;
}
span.svg-shortcode a:hover svg {
	fill: $darkgrey;
}


/*--------------------------------------------------------------
## Stars
--------------------------------------------------------------*/
.showlist-star.gold svg *,
.show-star.gold svg * {
    fill: $lwtv-gold;
}
.showlist-star.gold i.fa,
.show-star.gold i.fa {
	color: $lwtv-gold;
}

.showlist-star.silver svg *,
.show-star.silver svg * {
    fill: $lwtv-silver
}
.showlist-star.silver i.fa,
.show-star.silver i.fa {
    color: $lwtv-silver
}
.show-star svg {
    width: 75px;
    height: 75px;
}
.showlist-star svg {
    width: 20px;
    height: 20px;
}

/*--------------------------------------------------------------
## Shows We Love
--------------------------------------------------------------*/
.show-we-love svg *,
.show-we-love i.fa {
    fill: $red;
}
.show-we-love svg {
    width: 75px;
    height: 75px;
}

/*--------------------------------------------------------------
## Ratings
--------------------------------------------------------------*/
.ratings-icons svg {
    width: 30px;
    height: 30px;
}
.ratings-icons .show-heart.positive svg {
    fill: $red;
}
.ratings-icons .show-heart.negative svg {
    fill: $lwtv-grey;
}

/*--------------------------------------------------------------
## Worthit
--------------------------------------------------------------*/
.show-worthit svg {
    vertical-align: middle;
    margin-right: 10px;
	width: 50px;
	height: 50px;
}
.worthit {
    font-size: 150%;
    font-weight: 500;
    color: $white;
}

.ratings-icons.worthit-yes {
	background: $green;
}
.ratings-icons.worthit-no {
	background: $red;
}
.ratings-icons.worthit-meh {
	background: $lwtv-yellow;
}
.show-worthit,
.show-worthit svg * {
	fill: $white;
	color: $white;
}

/*--------------------------------------------------------------
## Characters
--------------------------------------------------------------*/
.char-grave svg {
	width: 40px;
	height: 40px;
}
.charlist-grave svg {
	width: 25px;
	height: 25px;
	float: right;
}
.charlist-grave svg * {
	fill: $darkgrey;
}

/*--------------------------------------------------------------
# Taxonomies
--------------------------------------------------------------*/
.taxonomy-svg svg,
.taxonomy-svg i.fa {
	width: 100px;
	height: 100px;
	float: right;
	margin: 5px;
}

/*--------------------------------------------------------------
# Facet
--------------------------------------------------------------*/
div.facetwp-counts {
	display: inline;
}

a.facetwp-page {
	padding: 0px;
	margin-right: 0px;
}

.facetwp-pager {
	clear: both;
}

.facetwp-pager {
	li.page-item.page-link.active {
		z-index: 2;
		color: $white;
		background-color: $lwtv-pink;
		border-color: $lwtv-pink;
	}
	
	li.page-link {
		color: $lwtv-pink;
	}
	
}

/*--------------------------------------------------------------
# Statistics
--------------------------------------------------------------*/

canvas {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
#statistics ul {
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
	margin-bottom: 16px;
	list-style: none;
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid;
}