/* =Lesbians
----------------------------------------------- */

/*--------------------------------------------------------------
## Bootstrapification
--------------------------------------------------------------*/

/* If using Jumbotron */
.archive-subheader .jumbotron {
  background: $lwtv-pink;
  background-size: contain;
  color: $white;
  @include font-18;
  margin-bottom: 0;
  padding: 3rem 2rem;
}

/*--------------------------------------------------------------
## Shows
--------------------------------------------------------------*/
h3.post-title.excerpt {
    clear: none;
    margin-top: 0;
}
.show-header-svg {
	float: right;
}


/* Trigger Warning */
.callout svg {
    width: 36px;
    height: 36px;
    float: left;
    margin: 10px;
}
.callout-danger svg * {
	fill: $red;
}
.callout-info svg *,
.callout-warning svg * {
	fill: $lwtv-yellow;
}

/* ratings icons */
.ratings-icons {
    text-align: center;
    padding: 5px;
}

.content .entry-meta .entry-comments-link {
	display: none;
}

ul.entry-meta {
	list-style-type: none;
	padding-bottom: 1em;
}

/* Characters */
.card-meta-item.cliches svg,
.card-meta-item.actors svg {
	height: 15px;
	width: 15px;
	vertical-align: middle;
}

/*--------------------------------------------------------------
## Characters
--------------------------------------------------------------*/

.character-cliche svg {
	height: 15px;
	width: 15px;
	vertical-align: middle;
}

/*--------------------------------------------------------------
## Headers
--------------------------------------------------------------*/
h1 svg *,
h3 svg * {
    fill: $white;
}

/*--------------------------------------------------------------
## Shortcodes
--------------------------------------------------------------*/
span.svg-shortcode svg {
    width: 50px;
    height: 50px;
    margin: 0 5px 0 5px;
}
span.svg-shortcode a {
    text-decoration: none;
}
span.svg-shortcode a svg {
	fill: $lwtv-pink;
}
span.svg-shortcode a:hover svg {
	fill: $darkgrey;
}


/*--------------------------------------------------------------
## Stars
--------------------------------------------------------------*/
.showlist-star.gold svg *,
.show-star.gold svg * {
    fill: $lwtv-gold;
}
.showlist-star.gold i.fa,
.show-star.gold i.fa {
	color: $lwtv-gold;
}

.showlist-star.silver svg *,
.show-star.silver svg * {
    fill: $lwtv-silver
}
.showlist-star.silver i.fa,
.show-star.silver i.fa {
    color: $lwtv-silver
}
.show-star svg {
    width: 75px;
    height: 75px;
}
.showlist-star svg {
    width: 20px;
    height: 20px;
}

/*--------------------------------------------------------------
## Shows We Love
--------------------------------------------------------------*/
.show-we-love svg *,
.show-we-love i.fa {
    fill: $red;
}
.show-we-love svg {
    width: 75px;
    height: 75px;
}


/*--------------------------------------------------------------
## Characters
--------------------------------------------------------------*/
.char-grave svg {
	width: 40px;
	height: 40px;
}
.charlist-grave svg {
	width: 25px;
	height: 25px;
	float: right;
}
.charlist-grave svg * {
	fill: $darkgrey;
}

/*--------------------------------------------------------------
# Taxonomies
--------------------------------------------------------------*/
.taxonomy-svg svg,
.taxonomy-svg i.fa {
	width: 100px;
	height: 100px;
	float: right;
	margin: 5px;
}

/*--------------------------------------------------------------
# Facet
--------------------------------------------------------------*/
div.facetwp-counts {
	display: inline;
}

a.facetwp-page {
	padding: 0px;
	margin-right: 0px;
}

.facetwp-pager {
	clear: both;
}

.facetwp-pager {
	li.page-item.page-link.active {
		z-index: 2;
		color: $white;
		background-color: $lwtv-pink;
		border-color: $lwtv-pink;
	}
	
	li.page-link {
		color: $lwtv-pink;
	}
	
}

/*--------------------------------------------------------------
# Statistics
--------------------------------------------------------------*/

canvas {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
#statistics ul {
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
	margin-bottom: 16px;
	list-style: none;
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid;
}