/* =Responsive styles
----------------------------------------------- */

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width

// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) {

  #masthead .navbar-brand {
    font-size: 1.35rem;
  }
  .navbar.main-nav{
    .container {
      max-width: 100%;
    }

    ul.navbar-nav > li.nav-item > a.nav-link {
      white-space: nowrap;
    }
  }

  .close-btn-container {
    padding-left: 10px;
  }
  
  .jumbotron.jumbotron-fluid h1.site-description {
    font-size: 2.25rem;
  }

  .character-archive-loop .character-image-wrapper {
    height: 200px;
  }

  .show-archive-loop {
    .character-image-wrapper {
      height: 200px;
    }
  }

  .alignright, .alignleft {
    .showschar-section {
      float: none;
      margin: 2em 0;
      width: 100%;
    }
  }

  div.fs-label-wrap,
  .facetwp-type-fselect .fs-wrap, 
  .facetwp-type-fselect .fs-dropdown {
	  width: 170px!important;
  }

  .site-sidebar {
    .card.card-search .form-check-inline {
      margin-left: .5rem;
    }
  }

}

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {

  #masthead {
    .navbar-brand {
      font-size: 1rem;

      img {
        margin-left: 1rem;
      }
    }

    .header-search-bar {
      padding: 20px 0 0 0;

      .col-sm-1.searchbox-button {
        padding-left: 0;
      }
    }
  }

  .navbar.main-nav ul.navbar-nav > li.nav-item > a.nav-link {
    font-size: 14px;
    padding: 14px;
  }

  .jumbotron.jumbotron-fluid {
    padding: 2rem;

    h1.site-description {
      @include font-28;
    }
  }

  .search-results {
    .character-image-wrapper {
      height: 200px;
    }

    .site-content {
      .col-sm-3 {
        -ms-flex: 0 0 33%;
        flex: 0 0 33%;
        max-width: 33%;
        width: 33%;
      }
    }
  }

  .actor-page .card .single-char-img,
  .character-page .card .single-char-img {
    float: none;
    margin: 0 0 2rem 0;
    width: 100%;
  }

  .col-sm-9 .entry-content,
  .characters-regulars-container {
    .col-sm-4 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;

      .character-image-wrapper {
        height: 300px;
      }
    }
  }

  .site-loop.actor-archive-loop, .site-loop.character-archive-loop, 
  .site-loop.character-show-loop, .site-loop.main-posts-loop {
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1.2rem;
    padding: 0 0 0 1rem;
  }

  .site-loop.home-featured-secondary-loop, .site-loop.show-archive-loop {
    padding-left: 1rem;
  }

  .site-loop.actor-archive-loop.four-across-loop, .site-loop.character-archive-loop.four-across-loop,
  .site-loop.character-show-loop.four-across-loop, .site-loop.main-posts-loop.four-across-loop {
    grid-template-columns: repeat(3,1fr);
    padding-right: 1rem;
  }

  .characters-regulars-container .col-sm-4 .character-image-wrapper {
    height: 200px;
  }

  .characters-recurring-container .character-show-loop .character-image-wrapper {
    height: 120px;
  }

  #characters .guest-character-list li {
    width: 50%;
  }

  #overview {
    .alignright, .alignleft {
      display: block;
      float: none;
      margin: 1rem 0;
      width: 100%;
    }
  }

  .widget_categories {
    ul {
      list-style-type: none;
      padding: 0 0 0 0.6rem;
    }
  }

  .page-template-statistics {
    h1.entry-title {
      max-width: 90%;
    }
  }

  .taxonomy-description {
    max-width: 90%;
  }

  .archive-subheader .jumbotron {
    padding: 2rem;
  }

  .show.trope svg,
  .ratings-icons .show-heart svg {
    width: 25px!important;
    height: 25px!important;
  }

}

// Small devices (landscape phones, less than 780px)
// Changed to match the WP-Admin bar breakpoint
@media (max-width: 780px) {

  .page, .single, .archive, .blog, .search {
    .container {
      width: 100%;
      max-width: 100%;
    }
  }

  .admin-bar .fixed-top.main-nav {
    margin-top: 46px!important;
  }

  #masthead {
    .navbar-brand {
      @include font-12;

      img {
        height: 30px;
        margin-right: 4px;
        width: auto;
      }
      .navbar-brand-text {
        display: none;
      }
    }
    
    #search-btn {
	  position: relative;
    }

    .header-search-bar {
      label {
        font-size: 1rem;
      }

      .col-sm-7.searchbox-input {
        max-width: 50%;
      }

      .close-btn-container {
        padding-left: 30px;
      }
    }
  }

  .navbar.main-nav ul.navbar-nav > li.nav-item > a.nav-link {
    @include font-13;
  }

  .dead-widget-container {
    @include font-14;
    line-height: 1.1;
  }

  .jumbotron.jumbotron-fluid {
    padding: 2rem 1rem;

    h1.site-description {
      @include font-24;
    }

    p {
      font-size: $basefont;
      line-height: 1.2;
    }
  }

  .taxonomy-svg i.fa, .taxonomy-svg svg {
    margin-top: 46px;
  }

  .site-loop.actor-archive-loop, .site-loop.character-archive-loop, 
  .site-loop.character-show-loop, .site-loop.main-posts-loop,
  .site-loop.actor-archive-loop.four-across-loop, .site-loop.character-archive-loop.four-across-loop,
  .site-loop.character-show-loop.four-across-loop, .site-loop.main-posts-loop.four-across-loop {
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    padding: 0;
  }

  .site-loop.home-featured-secondary-loop, .site-loop.show-archive-loop {
    padding-left: 0;
  }

}


 
/*
*
* Individual breakpoints
*
*/

// iPhone 6/8 landscape (less than 668px)
@media (max-width: 668px) {

  #masthead {
    ul.navbar-nav {
	  margin-left: 20px !important;
    }
    
    .admin-bar .fixed-top.main-nav {
      margin-top: 0px;
    }
  }

}


// Android (Nexus 4) landscape (less than 600px)
@media (max-width: 600px) {
  #masthead .navbar-brand {
    margin-right: 0;
  }

  .navbar.main-nav ul.navbar-nav > li.nav-item > a.nav-link {
    @include font-12;
    padding: 14px 12px;
  }
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {

  #masthead {
	.fixed-top.main-nav {
		margin-top: 0px;
	}
    .header-search-bar {

      padding: 0;

      .form-group {
        label {
          font-size: 1rem;
          text-align: center;
        }

        input {
          @include font-14;
        }
      }

      .col-sm-7.searchbox-input {
        max-width: 100%;
        padding: 0 40px;
        width: 100%;
      }

      .col-sm-1.searchbox-button {
        padding: 6px 15px;
        text-align: center;

        .btn {
          @include font-14;
          width: 60%;
        }
      }

      .col-sm-1.searchbox-close {
        position: absolute;
        top: 4px;

        .close-btn-container {
          padding-left: 0;
          position: absolute;
          right: 10px;
        }
      }
    }
  }

  #masthead .header-search-bar, .site-subheader {
    margin-top: 0;
  }

  #search-btn {
    position: absolute;
    right: 0;
    top: 0;
  }

  .nav-item.search a {
    padding: 12px 20px;
  }

  .navbar.main-nav {
    height: auto;
    position: relative;

    .dropdown-menu {
      @include font-14;
    }

    ul.navbar-nav {
      display: block;
      width: 100%;

      & > li {
        display: inline-block;

        &:first-child {
          border-left: 0;
        }

        &:last-child {
          border-right: 0;
        }
      }

      & > li.nav-item > a.nav-link {
        @include font-13;
        padding: 14px 11px;
      }
    }
  }

  .jumbotron.jumbotron-fluid {
    background-size: 200%;
    padding: 1rem;

    .header-logo {
      img {
        display: block;
        margin: 0 auto;
        width: 50%;
      }
    }
  }

  .card-group {
    .card.col-sm-5 {
      height: 220px;
      margin-bottom: 0;
    }
  }

  .home-featured-shows {
    .card {
      margin-bottom: 1rem;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .site-loop.show-archive-loop .card-group {
    width: 96%;
    margin: auto;
  }

  .archive-subheader .jumbotron {
    padding: 0.8rem 1rem 1.1rem 1rem;
  }

  h1.entry-title {
    font-size: 32px;
  }

  .page-template-statistics {
    h1.entry-title {
      max-width: 100%;
    }
  }

  .taxonomy-description {
    max-width: 100%;
  }

  .characters-regulars-container .col-sm-4, 
  .col-sm-9 .entry-content .col-sm-4,
  .search-results .site-content .col-sm-3 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
  }

  .character-image-wrapper {
    max-height: none !important;
    height: auto !important;
  }

  .showschar-header .show-header-svg {

    span {
      margin-top: 12px;
      display: inline-block;
    }

    svg {
      height: 40px;
      margin: 0 5px;
      width: 40px;
    }
  }

  .aligncenter, .alignleft, .alignnone, .alignright {
    display: block;
    float: none;
    margin: 2em 0;
    width: 100%;
  }

  #overview .alignleft, #overview .alignright {
    width: 100% !important;
  }

  .wp-caption img[class*="wp-image-"] {
    width: 98%;
  }

  h4.author_name {
    margin-top: 1rem;
  }

  #colophon .footer-widgets h2.widget-title {
    padding-bottom: 10px;
    margin-bottom: 10px;
  } 

  .footer-widgets {
    .footer-col {
      margin-bottom: 1rem;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .taxonomy-svg i.fa, .taxonomy-svg svg {
    display: none;
  }

  .chart-container, .percentage-container {
    .row {
      margin-bottom: 0;

      &:last-of-type {
        .col-sm-6:last-of-type {
          margin-bottom: 2rem;
        }
      }
    }
    .col-sm-6 {
      margin-bottom: 4rem;
    }
  }
}


// Extra small devices (portrait phones, less than 420px)
@media (max-width: 420px) {
  .navbar.main-nav {
    ul.navbar-nav {
      & > li {
        border: 0;

        &.nav-item > a.nav-link {
          padding: 6px 10px;
        }
      }
    }
  }

  .nav-item.search a {
    padding: 20px;
  }
}


// iPhone 6/8 (portrait phones, less than 376px)
@media (max-width: 376px) {

  #masthead .navbar-brand img {
    margin-left: 0.6rem;
    margin-right: 11px;
  }

  .navbar.main-nav ul.navbar-nav > li.nav-item > a.nav-link {
    padding: 6px 8px;
  }

  .nav-item.search a {
    padding: 20px 12px;
  }

  .jumbotron.jumbotron-fluid {
    padding: 1rem 0;

    .header-logo img {
      width: 34%;
    }

    p:first-of-type {
      display: none;
    }
  }

  .showschar-header .show-header-svg {
    svg {
      height: 30px;
      margin: 0;
      width: 30px;
    }
  }

  #characters .guest-character-list li {
    width: 100%;
  }
}


// iPhone 5 (portrait phones, less than 320px)
@media (max-width: 320px) {
  .navbar.main-nav ul.navbar-nav > li.nav-item > a.nav-link {
    @include font-12;
    padding: 6px 4px;
  }

  #masthead .navbar-brand img {
    margin-left: .4rem;
    margin-right: 10px;
  }
  .nav-item.search a {
    padding: 18px 8px;
  }
}