/* =Responsive styles
----------------------------------------------- */

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width

// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) {

  #masthead .navbar-brand {
    font-size: 1.35rem;
  }
  .navbar.main-nav{
    .container {
      max-width: 100%;
    }

    ul.navbar-nav > li.nav-item > a.nav-link {
      white-space: nowrap;
    }
  }

  .close-btn-container {
    padding-left: 10px;
  }
  
  .jumbotron.jumbotron-fluid h1.site-description {
    font-size: 2.25rem;
  }

  .character-archive-loop .character-image-wrapper {
    height: 200px;
  }

.show-archive-loop {
  .character-image-wrapper {
    height: 200px;
  }
}

  .alignright, .alignleft {
    .showschar-section {
      float: none;
      margin: 2em 0;
      width: 100%;
    }
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {

  #masthead {
    .navbar-brand {
      font-size: 1rem;

      img {
        margin-left: 1rem;
      }
    }

    .header-search-bar {
      padding: 20px 0 0 0;

      .col-sm-1.searchbox-button {
        padding-left: 0;
      }
    }
  }

  .navbar.main-nav ul.navbar-nav > li.nav-item > a.nav-link {
    font-size: 14px;
    padding: 14px;
  }

  .jumbotron.jumbotron-fluid {
    padding: 2rem;

    h1.site-description {
      @include font-28;
    }
  }

  .search-results {
    .character-image-wrapper {
      height: 200px;
    }

    .site-content {
      .col-sm-3 {
        -ms-flex: 0 0 33%;
        flex: 0 0 33%;
        max-width: 33%;
        width: 33%;
      }
    }
  }

  .character-page .card .single-char-img {
    float: none;
    margin: 0 0 2rem 0;
    width: 100%;
  }

  .col-sm-9 .entry-content,
  .characters-regulars-container {
    .col-sm-4 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;

      .character-image-wrapper {
        height: 300px;
      }
    }
  }

  .characters-regulars-container .col-sm-4 .character-image-wrapper {
    height: 200px;
  }

  .characters-recurring-container .character-show-loop .character-image-wrapper {
    height: 120px;
  }

  #characters .guest-character-list li {
    width: 50%;
  }

  #overview {
    .alignright, .alignleft {
      display: block;
      float: none;
      margin: 1rem 0;
      width: 100%;
    }
  }

  .widget_categories {
    ul {
      list-style-type: none;
      padding: 0 0 0 0.6rem;
    }
  }

  .page-template-statistics {
    h1.entry-title {
      max-width: 90%;
    }
  }

  .taxonomy-description {
    max-width: 90%;
  }

  .archive-subheader .jumbotron {
    padding: 2rem;
  }

  .taxonomy-svg i.fa, .taxonomy-svg svg {
    width: 80px;
    height: 80px;
    float: none;
    margin-top: 0;
    position: absolute;
    right: 20px;
    top: 70px;
  }

}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {

  .page, .single, .archive, .blog, .search {
    .container {
      width: 100%;
      max-width: 100%;
    }
  }

  #masthead {
    .navbar-brand {
      @include font-12;

      img {
        height: 30px;
        margin-right: 4px;
        width: auto;
      }
    }

    .header-search-bar {
      label {
        font-size: 1rem;
      }

      .col-sm-7.searchbox-input {
        max-width: 50%;
      }

      .close-btn-container {
        padding-left: 30px;
      }
    }
  }

  .navbar.main-nav ul.navbar-nav > li.nav-item > a.nav-link {
    @include font-13;
  }

  .dead-widget-container {
    @include font-14;
    line-height: 1.1;
  }

  .jumbotron.jumbotron-fluid {
    padding: 2rem 1rem;

    h1.site-description {
      @include font-24;
    }

    p {
      font-size: $basefont;
      line-height: 1.2;
    }
  }
}


 
/*
*
* Individual breakpoints
*
*/

// iPhone 6/8 landscape (less than 668px)
@media (max-width: 668px) {

  #masthead .navbar-brand {
    .navbar-brand-text {
      display: none;
    }
  }

}


// Android (Nexus 4) landscape (less than 600px)
@media (max-width: 600px) {
  #masthead .navbar-brand {
    margin-right: 0;
  }

  .navbar.main-nav ul.navbar-nav > li.nav-item > a.nav-link {
    @include font-12;
    padding: 14px 12px;
  }
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {

  #masthead {
    .header-search-bar {

      padding: 0;

      .form-group {
        label {
          font-size: 1rem;
          text-align: center;
        }

        input {
          @include font-14;
        }
      }

      .col-sm-7.searchbox-input {
        max-width: 100%;
        padding: 0 40px;
        width: 100%;
      }

      .col-sm-1.searchbox-button {
        padding: 6px 15px;
        text-align: center;

        .btn {
          @include font-14;
          width: 60%;
        }
      }

      .col-sm-1.searchbox-close {
        position: absolute;
        top: 4px;

        .close-btn-container {
          padding-left: 0;
          position: absolute;
          right: 10px;
        }
      }
    }
  }

  #masthead .header-search-bar, .site-subheader {
    margin-top: 0;
  }

  #search-btn {
    position: absolute;
    right: 0;
    top: 0;
  }

  .nav-item.search a {
    padding: 12px 20px;
  }

  .navbar.main-nav {
    height: auto;
    position: relative;

    .dropdown-menu {
      @include font-14;
    }

    ul.navbar-nav {
      display: block;
      width: 100%;

      & > li {
        display: inline-block;

        &:first-child {
          border-left: 0;
        }

        &:last-child {
          border-right: 0;
        }
      }

      & > li.nav-item > a.nav-link {
        @include font-13;
        padding: 14px 11px;
      }
    }
  }

  .jumbotron.jumbotron-fluid {
    padding: 1rem;

    .header-logo {
      img {
        display: block;
        margin: 0 auto;
        width: 50%;
      }
    }
  }

  .home-featured-secondary-loop {
    .card.col-sm-5 {
      height: 220px;
      margin-bottom: 0;
    }
  }

  .home-featured-shows {
    .card {
      margin-bottom: 1rem;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .character-image-wrapper {
    max-height: none;
    overflow: hidden;
    height: auto;
  }

  .aligncenter, .alignleft, .alignnone, .alignright {
    display: block;
    float: none;
    margin: 2em 0;
    width: 100%;
  }

  #colophon .footer-widgets h2.widget-title {
    padding-bottom: 10px;
    margin-bottom: 10px;
  } 

  .footer-widgets {
    .footer-col {
      margin-bottom: 1rem;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}


// Extra small devices (portrait phones, less than 420px)
@media (max-width: 420px) {
  .navbar.main-nav {
    ul.navbar-nav {
      & > li {
        border: 0;

        &.nav-item > a.nav-link {
          padding: 6px 10px;
        }
      }
    }
  }

  .nav-item.search a {
    padding: 20px;
  }
}


// iPhone 6/8 (portrait phones, less than 376px)
@media (max-width: 376px) {

  #masthead .navbar-brand img {
    margin-left: 0.6rem;
    margin-right: 11px;
  }

  .navbar.main-nav ul.navbar-nav > li.nav-item > a.nav-link {
    padding: 6px 8px;
  }

  .nav-item.search a {
    padding: 20px 12px;
  }

  .jumbotron.jumbotron-fluid {
    padding: 1rem 0;

    .header-logo img {
      width: 34%;
    }
  }
}


// iPhone 5 (portrait phones, less than 320px)
@media (max-width: 320px) {
  .navbar.main-nav ul.navbar-nav > li.nav-item > a.nav-link {
    @include font-12;
    padding: 6px 4px;
  }

  #masthead .navbar-brand img {
    margin-left: .4rem;
    margin-right: 10px;
  }
  .nav-item.search a {
    padding: 18px 8px;
  }
}