/* =Responsive styles
----------------------------------------------- */

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width

// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) {

  #masthead .navbar-brand {
    font-size: 1.35rem;
  }
  .navbar.main-nav{
    .container {
      max-width: 100%;
    }

    ul.navbar-nav > li.nav-item > a.nav-link {
      white-space: nowrap;
    }
  }

  .close-btn-container {
    padding-left: 10px;
  }
  
  .jumbotron.jumbotron-fluid h1.site-description {
    font-size: 2.25rem;
  }

  .character-archive-loop .character-image-wrapper {
    height: 200px;
  }

.show-archive-loop {
  .character-image-wrapper {
    height: 200px;
  }
}

  .alignright, .alignleft {
    .showschar-section {
      float: none;
      margin: 2em 0;
      width: 100%;
    }
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {
  #masthead .navbar {
    display: block;

    .nav {
      float: none;
      margin-top: 0;
      text-align: center;

      & > li {
        display: inline-block;
        vertical-align: top;
      }

      .open .dropdown-menu {
        background-color: $white;
        position: absolute;
      }
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {}

 

/*
*
* Individual breakpoints
*
*/
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {}

// Small devices (landscape phones, from 576px up to 767px)
@media (min-width: 576px) and (max-width: 767px) {}

// Medium devices (tablets, from 768px up to 991px)
@media (min-width: 768px) and (max-width: 991px) {}

// Large devices (desktops, from 992px up tp 1199px)
@media (min-width: 992px) and (max-width: 1199px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
