# Ignore temporary OS files
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.phpunit.result.cache
*~
.DS_Store
.svn
.cvs
.htaccess
*.bak
*.swp


/node_modules/
/.sass-cache/
/npm-debug.log
/vendor/
debug.log
/inc/dist/
/_build_scripts/webpackdist/

## Plugin files to ignore
/plugins/**/.git
/plugins/**/vendor/
/plugins/**/node_modules/
/plugins/lwtv-plugin/php/blocks/build/*


# large/disallowed file types
# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi
