<?xml version="1.0"?>
<ruleset name="LezWatch.TV Coding Standards">
    <description>A custom ruleset to take in account both WordPress and Lesbian standards.</description>

	<!--
	Prevent errors caused by WordPress Coding Standards not supporting PHP 8.0+.
	See https://github.com/WordPress/WordPress-Coding-Standards/issues/2035
	-->
	<ini name="error_reporting" value="E_ALL &#38; ~E_DEPRECATED" />


    <rule ref="WordPress-Extra">
        <exclude name="WordPress.Files.FileName.InvalidClassFileName" />
        <exclude name="WordPress.Files.FileName.NotHyphenatedLowercase" />
        <exclude name="WordPress.WP.DiscouragedFunctions.wp_reset_query_wp_reset_query" />
        <exclude name="WordPress.WP.I18n.NonSingularStringLiteralSingle" />
        <exclude name="WordPress.WP.I18n.NonSingularStringLiteralPlural" />
		<exclude name="WordPress.WP.I18n.NonSingularStringLiteralText" />
		<exclude name="WordPress.WP.I18n.MissingTranslatorsComment" />
        <exclude name="WordPress.PHP.DiscouragedPHPFunctions.obfuscation_base64_encode" />
        <exclude name="WordPress.WP.AlternativeFunctions.file_get_contents_file_get_contents" />
        <exclude name="WordPress.PHP.DevelopmentFunctions.error_log_trigger_error" />
    </rule>

    <rule ref="WordPress.Security.EscapeOutput">
        <properties>
            <property name="customAutoEscapedFunctions" value="lwtv_symbolicons,get_previous_posts_link,get_next_posts_link,yikes_pagination_get_page,yikes_pagination_get_page_space_right,yikes_pagination_get_page_space_left,yikes_pagination_get_first_page,LWTV_Functions,lwtv_yikes_chardata,lwtv_yikes_show_star,LWTV_Stats,km_rpbt_related_posts_by_taxonomy_gallery" type="array" />
            <property name="customEscapingFunctions" value="facetwp_display" type="array" />
        </properties>
    </rule>

</ruleset>
