@charset "utf-8";
/*
The stylesheet for Gutenberg Blocks in the editor
*/

@import 'partials/colors';
@import 'partials/fonts';
@import 'partials/helpers';
@import 'partials/mixins';

/* ==========================================================================
   Editor Styles
   ========================================================================== */

/* Main column width */
body.wp-admin.gutenberg-editor-page .editor-post-title__block,
body.wp-admin.gutenberg-editor-page .editor-default-block-appender,
body.wp-admin.gutenberg-editor-page .editor-block-list__block {
    max-width: 825px;
}

/* Width of "wide" blocks */
body.gutenberg-editor-page .editor-block-list__block[data-align="wide"] {
    max-width: 825px;
}

/* Width of "full-wide" blocks */
body.gutenberg-editor-page .editor-block-list__block[data-align="full"] {
    max-width: none;
}


/* ==========================================================================
   Global
   ========================================================================== */

.edit-post-visual-editor, .edit-post-visual-editor {
    &, p.wp-block-paragraph, .editor-block-list__block {
        font-family: $basefontfamily;
        font-size: $basefont;
        line-height: $baseheight;
        color: $basefontcolor;
    }
}

.editor-writing-flow {
    blockquote {
        background-color: $lwtv-ltgrey;
        border-left: 4px solid $lwtv-pink;
        color: $darkgrey;
        font-family: Georgia, Times, "Times New Roman", serif;
        font-weight: 500;
        @include font-18;
        margin: 0 0 1rem;
        padding: 1em;
        -webkit-font-smoothing: antialiased;

        p {
            padding-left: 28px;
        }

        p:last-child {
            margin-bottom: 0;
        }

        &:before {
            color: $lwtv-pink;
            content: '\201C';
            @include font-44;
            font-weight: 600;
            line-height: 1;
            position: absolute;
        }
    }

    /* Links */

    a {
        color: $link-color;
        @include fade;
        text-decoration: none;

        &:visited {
            color: $link-color;
        }

        &:hover, &:focus, &:active {
            color: $link-hover-color;
            @include fade;
            text-decoration: none;
        }
    }
}


/* =Typography
    Font CSS is all in the partial _fonts.scss
----------------------------------------------- */

/* Headings */

.editor-writing-flow {
    .editor-post-title__block .editor-post-title__input { // these are the H1 styles
        @include h1;
        margin-bottom: $headingbmargin;
        font-family: $headingfontfamily;
        font-weight: $headingfontweight;
        line-height: $headingfontheight;
        color: $headingfontcolor;
    }

    .wp-block-heading {
        h2, h3, h4, h5, h6 {
            margin-bottom: $headingbmargin;
            font-family: $headingfontfamily;
            font-weight: $headingfontweight;
            line-height: $headingfontheight;
            color: $headingfontcolor;
        }

        h2, .h2 {
             @include h2;
        }

        h3, .h3 {
             @include h3;
        }

        h4, .h4 {
            @include h4;
        }

        h5, .h5 {
            @include h5;
        }

        h6, .h6 {
            @include h6;
        }
    }
}
