/*
The stylesheet for Gutenberg Blocks in the editor
*/
/* =Color Variables for our theme
----------------------------------------------- */
/* Base theme colors */
/* Theme color palette */
/* Link colors */
@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 82%; }
  50% {
    background-position: 100% 19%; }
  100% {
    background-position: 0% 82%; } }
@-moz-keyframes rainbow {
  0% {
    background-position: 0% 82%; }
  50% {
    background-position: 100% 19%; }
  100% {
    background-position: 0% 82%; } }
@-o-keyframes rainbow {
  0% {
    background-position: 0% 82%; }
  50% {
    background-position: 100% 19%; }
  100% {
    background-position: 0% 82%; } }
@keyframes rainbow {
  0% {
    background-position: 0% 82%; }
  50% {
    background-position: 100% 19%; }
  100% {
    background-position: 0% 82%; } }
/* =Font Styles
----------------------------------------------- */
/* =Helper Mixins
----------------------------------------------- */
/* =Mixins
----------------------------------------------- */
/* ==========================================================================
   Editor Styles
   ========================================================================== */
/* Main column width */
body.wp-admin.gutenberg-editor-page .editor-post-title__block,
body.wp-admin.gutenberg-editor-page .editor-default-block-appender,
body.wp-admin.gutenberg-editor-page .editor-block-list__block {
  max-width: 825px; }

/* Width of "wide" blocks */
body.gutenberg-editor-page .editor-block-list__block[data-align="wide"] {
  max-width: 825px; }

/* Width of "full-wide" blocks */
body.gutenberg-editor-page .editor-block-list__block[data-align="full"] {
  max-width: none; }

/* ==========================================================================
   Global
   ========================================================================== */
.edit-post-visual-editor, .edit-post-visual-editor p.wp-block-paragraph, .edit-post-visual-editor .editor-block-list__block, .edit-post-visual-editor, .edit-post-visual-editor p.wp-block-paragraph, .edit-post-visual-editor .editor-block-list__block {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #222; }

.editor-writing-flow {
  /* Links */ }
  .editor-writing-flow blockquote {
    background-color: #ebf5fa;
    border-left: 4px solid #d1548e;
    color: #222;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: 500;
    font-size: 1.125rem;
    margin: 0 0 1rem;
    padding: 1em;
    -webkit-font-smoothing: antialiased; }
    .editor-writing-flow blockquote p {
      padding-left: 28px; }
    .editor-writing-flow blockquote p:last-child {
      margin-bottom: 0; }
    .editor-writing-flow blockquote:before {
      color: #d1548e;
      content: '\201C';
      font-size: 2.75rem;
      font-weight: 600;
      line-height: 1;
      position: absolute; }
  .editor-writing-flow a {
    color: #d1548e;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none; }
    .editor-writing-flow a:visited {
      color: #d1548e; }
    .editor-writing-flow a:hover, .editor-writing-flow a:focus, .editor-writing-flow a:active {
      color: #8d329f;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      text-decoration: none; }

/* =Typography
    Font CSS is all in the partial _fonts.scss
----------------------------------------------- */
/* Headings */
.editor-writing-flow .editor-post-title__block .editor-post-title__input {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 1.1;
  color: #222; }
.editor-writing-flow .wp-block-heading h2, .editor-writing-flow .wp-block-heading h3, .editor-writing-flow .wp-block-heading h4, .editor-writing-flow .wp-block-heading h5, .editor-writing-flow .wp-block-heading h6 {
  margin-bottom: 1rem;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 1.1;
  color: #222; }
.editor-writing-flow .wp-block-heading h2, .editor-writing-flow .wp-block-heading .h2 {
  font-size: 2rem; }
.editor-writing-flow .wp-block-heading h3, .editor-writing-flow .wp-block-heading .h3 {
  font-size: 1.75rem; }
.editor-writing-flow .wp-block-heading h4, .editor-writing-flow .wp-block-heading .h4 {
  font-size: 1.5rem; }
.editor-writing-flow .wp-block-heading h5, .editor-writing-flow .wp-block-heading .h5 {
  font-size: 1.25rem; }
.editor-writing-flow .wp-block-heading h6, .editor-writing-flow .wp-block-heading .h6 {
  font-size: 1rem; }

/*# sourceMappingURL=style-editor.css.map */
