/*
Error: Invalid CSS after "}": expected "}", was ""
        on line 367 of partials/_responsive.scss
        from line 1366 of style.scss

362:     margin-right: 10px;
363:   }
364:   .nav-item.search a {
365:     padding: 18px 8px;
366:   }
367: }

Backtrace:
partials/_responsive.scss:367
style.scss:1366
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/scss/parser.rb:1162:in `expected'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/scss/parser.rb:1098:in `expected'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/scss/parser.rb:1093:in `tok!'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/scss/parser.rb:640:in `block'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/scss/parser.rb:401:in `media_directive'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/scss/parser.rb:219:in `special_directive'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/scss/parser.rb:194:in `directive'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/scss/parser.rb:657:in `block_child'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/scss/parser.rb:650:in `block_contents'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/scss/parser.rb:117:in `stylesheet'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/scss/parser.rb:42:in `parse'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/engine.rb:403:in `_to_tree'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/engine.rb:309:in `to_tree'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:323:in `block in visit_import'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/stack.rb:88:in `block in with_import'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/stack.rb:115:in `with_frame'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/stack.rb:88:in `with_import'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:36:in `visit'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/stack.rb:79:in `block in with_base'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/stack.rb:115:in `with_frame'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/stack.rb:79:in `with_base'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:158:in `visit'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:52:in `map'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:52:in `visit_children'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:36:in `block in visit'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:36:in `visit'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:157:in `visit'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:8:in `visit'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/root_node.rb:36:in `css_tree'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/engine.rb:378:in `_render_with_sourcemap'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/engine.rb:295:in `render_with_sourcemap'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/exec/sass_scss.rb:410:in `run'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/exec/sass_scss.rb:63:in `process_result'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/exec/base.rb:52:in `parse'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/exec/base.rb:19:in `parse!'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.15/bin/sass:13:in `<top (required)>'
c:/Ruby21/bin/sass:23:in `load'
c:/Ruby21/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"}\": expected \"}\", was \"\"\A         on line 367 of partials/_responsive.scss\A         from line 1366 of style.scss\A \A 362:     margin-right: 10px;\A 363:   }\A 364:   .nav-item.search a {\A 365:     padding: 18px 8px;\A 366:   }\A 367: }"; }
