/* =Color Variables for our theme
----------------------------------------------- */

/* Base colors */
$white: #fff;
$black: #000;

/* Color palette */
$lwtv-grey-light: #f3f3f3;
$lwtv-grey: #dedede;
$lwtv-grey-alt: #d6d6d6;
$lwtv-grey-medium: #999;
$lwtv-grey-deep: #333;
$lwtv-grey-border: rgba(0, 0, 0, 0.125);

$lwtv-pink: #cb3e85;
$lwtv-pink-light: #eecee3;
$lwtv-pink-medium: #e690ac;
$lwtv-pink-deep: #9e2968;

$lwtv-purple: #8d329f;
$lwtv-purple-light: #e0d2fe;
$lwtv-purple-deep: #9b4f96;

$lwtv-plum: #673147;
$lwtv-plum-light: #efd3e3;
$lwtv-plum-deep: #311721;

$lwtv-blue: #06c;
$lwtv-blue-light: #d1ecf1;
$lwtv-blue-deep: #435260;

$lwtv-royal-blue: #0038a8;
$lwtv-royal-blue-light: #d9e6ff;
$lwtv-royal-blue-deep: #061c49;

$lwtv-teal: #008080;
$lwtv-teal-light: #abdbe9;
$lwtv-teal-deep: #155050;

$lwtv-red: #c0392b;
$lwtv-red-light: #f8d7da;
$lwtv-red-deep: #721c24;

$lwtv-crimson: #DC143C;
$lwtv-crimson-light: #fcd3d5;
$lwtv-crimson-deep: #be123c;

$lwtv-raspberry: #E30B5C;
$lwtv-raspberry-light: #f7c3dc;
$lwtv-raspberry-deep: #9d2a61;

$lwtv-yellow: #f1c40f;
$lwtv-yellow-light: #fff3cd;
$lwtv-yellow-deep: #b45309;

$lwtv-orange: #e51e24;

$lwtv-green: #047a49;
$lwtv-green-light: #d4edda;
$lwtv-green-deep: #155724;

$lwtv-gold: #ffd700;
$lwtv-silver: #999;
$lwtv-bronze: #b87333;

$lwtv-salmon: #f55a4e;
$lwtv-gradient: linear-gradient(60deg, #ab47bc, #8e24aa);
$lwtv-progressbar: #17a2b8;

/* Pride Flags */
$lwtv-bi-magenta: #d60270;
$lwtv-bi-royal-blue: #0038a8;
$lwtv-bi-lavender: #9b4f96;
$lwtv-trans-pink: #F5A9B8;
$lwtv-trans-blue: #5BCEFA;
$lwtv-pan-magenta: #FF218C;
$lwtv-pan-yellow: #FFD800;
$lwtv-pan-cyan: #21B1FF;
$lwtv-aro-green: #3DA542;
$lwtv-aro-ltgreen: #A7D379;
$lwtv-aro-grey: #A9A9A9;
$lwtv-ace-purple: #800080;
$lwtv-poly-pink: #F714BA;
$lwtv-poly-green: #01D66A;
$lwtv-poly-blue: #1594F6;
$lwtv-gq-lavender: #B57EDC;
$lwtv-gq-green: #4A8123;

/* Link colors */

$link-color:         $lwtv-pink;
$link-hover-color:   $lwtv-purple;
$link-focus-color:   $link-hover-color;
$link-active-color:  $link-hover-color;
$link-visited-color: $link-color;

/* SVG */
$lwtv-svg: $black;


@-webkit-keyframes rainbow {

	0% {
		background-position: 0% 82%;
	}

	50% {
		background-position: 100% 19%;
	}

	100% {
		background-position: 0% 82%;
	}
}

@-moz-keyframes rainbow {

	0% {
		background-position: 0% 82%;
	}

	50% {
		background-position: 100% 19%;
	}

	100% {
		background-position: 0% 82%;
	}
}

@-o-keyframes rainbow {

	0% {
		background-position: 0% 82%;
	}

	50% {
		background-position: 100% 19%;
	}

	100% {
		background-position: 0% 82%;
	}
}

@keyframes rainbow {

	0% {
		background-position: 0% 82%;
	}

	50% {
		background-position: 100% 19%;
	}

	100% {
		background-position: 0% 82%;
	}
}
