@use "colors";
@use "fonts";
@use "mixins";

/* =Custom Nav styles
----------------------------------------------- */
/* stylelint-disable no-descending-specificity */

.navbar.main-nav {

	@include mixins.box-shadow(0 2px 30px rgba(0, 0, 0, 0.2));
	height: 50px;
	padding: 0;
	background-color: colors.$white;

	button.navbar-toggler {
		border: none;
	}

	ul.navbar-nav > li {
		border-left: solid 1px colors.$lightgrey;
		background-color: colors.$white;

		&:last-child {
			border-right: solid 1px colors.$lightgrey;
		}

		&.nav-item {

			/* Style for inactive links */
			a.nav-link {
				color: colors.$darkgrey;

				@include fonts.font-15;
				font-weight: 600;
				padding: 14px 20px;
				text-transform: uppercase;
			}

			/* Style for active links */
			&.current-menu-item > a.nav-link,
			&.current-menu-parent > a.nav-link,
			&.current-menu-ancestor > a.nav-link,
			.single-post &.current_page_parent > a.nav-link,
			&:hover > a.nav-link,
			&:focus > a.nav-link,
			&:active > a.nav-link,
			&.show > a.nav-link.dropdown-toggle {
				background-color: colors.$lwtv-pink;
				color: colors.$white;
			}

			/* Use this class on a menu item to hide the text when using an icon */
			&.hide-text > a.nav-link .menu-link-text {

				@include mixins.screen-reader;
			}

			/* Secondary Menus */
			ul.dropdown-menu {
				background-color: colors.$white;
				border-top-left-radius: 0;
				top: 95%;

				li.nav-item {

					/* Style for inactive links on submenus */
					a.dropdown-item {
						background-color: colors.$white;
						color: colors.$darkgrey;
					}

					/* Style for active links on submenus */
					&.current-menu-parent > a.dropdown-item,
					&.active > a.dropdown-item,
					&:hover > a.dropdown-item,
					&:focus > a.dropdown-item {
						background-color: colors.$lwtv-pink;
						color: colors.$white;
					}

					/* Tertiary Menus - reveal them on parent hover */
					&.dropdown {

						&:hover,
						&:focus {

							ul.dropdown-menu {
								display: block;
								left: 100%;
								top: -11px;
							}
						}
					}
				}
			}
		}
	}
}

/* Search button */

.nav-item.search a {

	&,
	&:visited {
		background-color: colors.$lwtv-purple;
		color: colors.$white;
		padding: 12.5px 20px;
	}

	&:hover,
	&:focus {
		background-color: colors.$lwtv-pink;
	}
}


/* Social Menu */

.widget_lwtv_social_menu_widget {

	li {

		a,
		a:visited {
			line-height: 1;
			padding-top: 0;

			&::before {
				display: inline-block;
				font-style: normal;
				font-variant: normal;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;

				@include fonts.font-28;
				width: 60px;
				vertical-align: middle;
			}

			&:hover,
			&:focus {

				&::before {
					color: colors.$link-hover-color;
				}
			}

			.svg-inline--fa {
				width: 2rem;
				height: 1.4rem;
				vertical-align: middle;
			}

			span {
				margin-left: 10px;
			}
		}

		&.rss a::before {
			@include mixins.symbolicon("svg-rss");
		}

		&.feed a::before {
			@include mixins.symbolicon("svg-rss");
		}

		&.mail a::before {
			@include mixins.symbolicon("svg-mail");
		}

		&.instagram a::before {
			@include mixins.symbolicon("svg-instagram");
		}

		&.twitter a::before {
			@include mixins.symbolicon("svg-twitter-orig");
		}

		&.x-twitter a::before {
			@include mixins.symbolicon("svg-x-twitter");
		}

		&.facebook a::before {
			@include mixins.symbolicon("svg-facebook-f");
		}

		&.tumblr a::before {
			@include mixins.symbolicon("svg-tumblr-t");
		}

		&.mastodon a::before {
			@include mixins.symbolicon("svg-mastodon");
		}

		&.tiktok a::before {
			@include mixins.symbolicon("svg-tiktok");
		}

		&.bluesky a::before {
			@include mixins.symbolicon("svg-bluesky");
		}

		&.threads a::before {
			@include mixins.symbolicon("svg-threads");
		}

	}
}
