@use "../partials/colors";

/* Calendar */

table.lwtvc {

	tbody {
		border-bottom: 8px solid colors.$white;
	}
}

.ep-calendar-calendar td {
	padding: 0;
}

.ep-calendar-heading-date {
	float: left;
}

.ep-calendar-heading-backtotop,
.ep-calendar-heading-weekday {
	float: right;
}

.ep-calendar-heading-backtotop {

	a {
		color: colors.$lwtv-ltpink;
	}
}

.ep-calendar-dot {
	border-radius: 50%;
	background: colors.$lwtv-pink;
	border-color: colors.$lwtv-pink;
	display: inline-block;
	width: 10px;
	height: 10px;
}

.ep-calendar-dot-past {
	background: colors.$lwtv-grey2;
	border-color: colors.$lwtv-grey2;
}

.calendar-show-img {
	width: 30%;
	max-height: 100px;
	float: left;
}

ul#calendarTab a.nav-link {
	color: colors.$lwtv-pink;
	border-color: colors.$lwtv-grey2;
	margin-right: 0.5rem;

	&.active {
		background-color: colors.$lwtv-pink;
		border-color: colors.$lwtv-pink;
		color: colors.$white;
	}

	&:hover,
	&:focus,
	&:active {
		background-color: colors.$lwtv-grey2;
		color: colors.$lwtv-pink;
	}
}

/* On Page ToC */
h3.ep-calendar-day-heading,
thead.dayjump {
	scroll-margin-top: 55px;
	line-height: 2;
	margin: 1rem 0;
	padding: 0.5rem;
	background-color: colors.$lwtv-grey2;
}

.ep-calendar-subnav {

	.link-primary a {
		color: colors.$lwtv-pink;

		&:hover,
		&:focus,
		&:active {
			background-color: colors.$lwtv-grey2;
			color: colors.$lwtv-pink;
		}
	}
}
