/* Related Posts by Taxonomy Code */

div.rpbt_shortcode {

	.related-gallery {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 1.6rem;

		figure.similar-shows {

			a {
				font-style: italic;
			}
		}
	}

	.similar-shows-header {
		font-family: $headingfontfamily;
		font-weight: $headingfontweight;
		line-height: $headingfontheight;

		@include font-20;
		font-size: 1rem;
		text-decoration: none;
	}

	.similar-shows-airdates {
		font-family: $headingfontfamily;
		font-weight: $headingfontweight;
		line-height: $headingfontheight;
		font-size: 1rem;
		text-decoration: none;
	}

	span {
		display: block;
	}
}
